/*
Syntax error: Incompatible units: 'em' and ''.
        on line 37 of public/stylesheets/sass/lib/bourbon/functions/_modular-scale.scss
        from line 6 of public/stylesheets/sass/lib/neat/_neat-helpers.scss
        from line 7 of public/stylesheets/sass/lib/neat/_neat.scss
        from line 4 of ./public/stylesheets/sass/styles.scss

Backtrace:
public/stylesheets/sass/lib/bourbon/functions/_modular-scale.scss:37
public/stylesheets/sass/lib/neat/_neat-helpers.scss:6
public/stylesheets/sass/lib/neat/_neat.scss:7
./public/stylesheets/sass/styles.scss:4
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/script/value/number.rb:416:in `coercion_factor'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/script/value/number.rb:349:in `coerce'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:244:in `visit_for'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/stack.rb:79:in `block in with_base'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/stack.rb:79:in `with_base'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `visit'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:52:in `map'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:271:in `visit_if'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/stack.rb:79:in `block in with_base'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/stack.rb:79:in `with_base'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `visit'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/script/tree/funcall.rb:248:in `block (3 levels) in perform_sass_fn'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/script/tree/funcall.rb:248:in `each'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/script/tree/funcall.rb:248:in `block (2 levels) in perform_sass_fn'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/script/tree/funcall.rb:247:in `catch'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/script/tree/funcall.rb:247:in `block in perform_sass_fn'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:78:in `perform_arguments'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/script/tree/funcall.rb:244:in `perform_sass_fn'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/script/tree/funcall.rb:131:in `_perform'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/script/tree/node.rb:50:in `perform'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:438:in `visit_variable'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/stack.rb:79:in `block in with_base'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/stack.rb:79:in `with_base'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `visit'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:297:in `block (2 levels) in visit_import'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:297:in `map'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:297:in `block in visit_import'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/stack.rb:88:in `block in with_import'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/stack.rb:88:in `with_import'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:294:in `visit_import'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/stack.rb:79:in `block in with_base'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/stack.rb:79:in `with_base'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `visit'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:297:in `block (2 levels) in visit_import'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:297:in `map'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:297:in `block in visit_import'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/stack.rb:88:in `block in with_import'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/stack.rb:88:in `with_import'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:294:in `visit_import'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/stack.rb:79:in `block in with_base'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/stack.rb:79:in `with_base'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `visit'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:297:in `block (2 levels) in visit_import'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:297:in `map'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:297:in `block in visit_import'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/stack.rb:88:in `block in with_import'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/stack.rb:88:in `with_import'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:294:in `visit_import'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/stack.rb:79:in `block in with_base'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/stack.rb:79:in `with_base'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `visit'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:52:in `map'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:151:in `visit'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/tree/root_node.rb:20:in `render'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/engine.rb:274:in `render'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:484:in `update_stylesheet'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:214:in `block in update_stylesheets'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:208:in `each'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:208:in `update_stylesheets'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/plugin.rb:82:in `update_stylesheets'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/plugin.rb:54:in `check_for_updates'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sass-3.3.14/lib/sass/plugin/rack.rb:51:in `call'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/rack-1.6.4/lib/rack/methodoverride.rb:22:in `call'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/rack-1.6.4/lib/rack/lint.rb:49:in `_call'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/rack-1.6.4/lib/rack/lint.rb:37:in `call'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/rack-1.6.4/lib/rack/showexceptions.rb:24:in `call'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/rack-1.6.4/lib/rack/commonlogger.rb:33:in `call'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/sinatra-1.4.7/lib/sinatra/base.rb:219:in `call'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/shotgun-0.9.1/lib/shotgun/loader.rb:86:in `proceed_as_child'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/shotgun-0.9.1/lib/shotgun/loader.rb:31:in `call!'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/shotgun-0.9.1/lib/shotgun/loader.rb:18:in `call'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/shotgun-0.9.1/lib/shotgun/favicon.rb:12:in `call'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/shotgun-0.9.1/lib/shotgun/static.rb:14:in `call'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/rack-1.6.4/lib/rack/urlmap.rb:66:in `block in call'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/rack-1.6.4/lib/rack/urlmap.rb:50:in `each'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/rack-1.6.4/lib/rack/urlmap.rb:50:in `call'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/rack-1.6.4/lib/rack/builder.rb:153:in `call'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/thin-1.7.0/lib/thin/connection.rb:86:in `block in pre_process'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/thin-1.7.0/lib/thin/connection.rb:84:in `catch'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/thin-1.7.0/lib/thin/connection.rb:84:in `pre_process'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/thin-1.7.0/lib/thin/connection.rb:53:in `process'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/thin-1.7.0/lib/thin/connection.rb:39:in `receive_data'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/eventmachine-1.2.0.1/lib/eventmachine.rb:194:in `run_machine'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/eventmachine-1.2.0.1/lib/eventmachine.rb:194:in `run'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/thin-1.7.0/lib/thin/backends/base.rb:73:in `start'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/thin-1.7.0/lib/thin/server.rb:162:in `start'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/rack-1.6.4/lib/rack/handler/thin.rb:19:in `run'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/gems/shotgun-0.9.1/bin/shotgun:162:in `<top (required)>'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/bin/shotgun:22:in `load'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/bin/shotgun:22:in `<main>'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/bin/ruby_executable_hooks:15:in `eval'
/home/vagrant/.rvm/gems/ruby-2.3.0@rails4.2/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Incompatible units: 'em' and ''.\A         on line 37 of public/stylesheets/sass/lib/bourbon/functions/_modular-scale.scss\A         from line 6 of public/stylesheets/sass/lib/neat/_neat-helpers.scss\A         from line 7 of public/stylesheets/sass/lib/neat/_neat.scss\A         from line 4 of ./public/stylesheets/sass/styles.scss"; }
