<article class="type-system-geometric">
<h1>Welcome <%= @user.name %></h1>
<hr>
<br>
<h2><a href="/rooms">View My Rooms</a></h2>
<br>
<h2><a href="/items">View Total Inventory</a></h2>
<br>
</article>