<article class="type-system-geometric">
<h1>Your Rooms</h1>
<hr>
<ol>
    <% @rooms.each do |room| %>
        <li><h2><a href="/rooms/<%= room.slug %>"><%= room.name.capitalize %></a></h2></li>
    <% end %>
</ol>
<hr>
<a href="/rooms/new"><button type="button">Create New Room</button></a>
<br><br>
</article>