<article class="type-system-geometric">
<h1>Create New Room</h1>
<hr>
<br>
<form action="/rooms" method="post">
    <label for="name">Room Name</label>
    <input type="text" name="name">
    <br>
    <label for="notes">Notes (optional)</label>
    <input type="text" name="notes">
    <br>
    <input type="submit" value="Create Room">
</form>
<br><br>
</article>