<h1>Create New Room</h1>
<form action="/rooms" method="post">
    <label for="name">Room Name</label>
    <input type="text" name="name">
    <label for="notes">Notes (optional)</label>
    <input type="text" name="notes">
    <input type="submit" value="Create and Return to Room List">
    <input type="submit" value="Create and Add New Item">
</form>