<article class="type-system-geometric">
<h1>All Items</h1>
<hr>
<ul>
    <% @rooms.each do |room| %>
        <li><h2><a href="/rooms/<%= room.slug %>"><%= room.name.capitalize %></a></h2></li>
        <ul>
            <% room.items.each do |item| %>
                <li><h3><a href="/items/<%= item.id %>"><%= item.name.capitalize %></a></h3></li>
            <% end %>
        </ul>
    <% end %>
</ul>
<hr>
<a href="items/new"><button type="button">Create New Item</button></a>
<br><br>
</article>