<h1>Create New Item</h1>
<form action="/items" method="post">
    <label for="name">Item Name</label>
    <input type="text" name="name">
    <label for="notes">Notes (optional)</label>
    <input type="text" name="notes">
    <label for="room">Room</label>
    <% @user.rooms.each do |room| %>
        <input type="radio" name="room" id="<%= room.name  %>" value="<%= room.slug %>"><%= room.name %></input>
    <% end %>
    <input type="submit" value="Create Item">
</form>