<h1><%= @item.name %></h1>
<br>
<h2>Notes:</h2>
<p><%= @item.notes %></p>
<br><br>
<h3><a href="/items/<%= @item.id %>/edit">Edit Item Details</a></h3>
<br>
<h3><a href="/items/delete">Delete Item</a></h3>