<article class="type-system-geometric">
  <h1>Welcome to the Home Inventory Tracker!</h1>
  <h2>This is a web application designed to help you keep track of the items and rooms in your home or business, whether for personal records or for insurance purposes. Please select one of the links below to start!</h2>
<hr>
  <a href="/signup"><button type="button">Sign Up!</button></a>
  <a href="/login"><button type="button">Log In</button></a>
  <br><br>
</article>
