<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Inventory Tracker</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>
    <% if flash.has?(:message) %>
        <%= flash[:message] %>
    <% end %>
    <%= yield %>
</body>

<footer class="footer-2" role="contentinfo">
  <div class="footer-logo">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="Logo image">
  </div>
    <ul>
      <li><a href="/login">Home</a></li>
      <li><a href="/rooms">Rooms</a></li>
      <li><a href="/items">Items</a></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="/logout">Log Out</a></li>
        <li><a href="www.learn.co">Learn.Co</a></li>
      </ul>

      <!-- <ul class="footer-social">
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
          </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
        </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="YouTube">
        </a></li>
      </ul> -->
    </div>
</footer>

</html>