<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Inventory Tracker</title>
</head>
<body>
    <% if flash.has?(:message) %>
        <%= flash[:message] %>
    <% end %>
    <%= yield %>
</body>
</html>