<h1>Please Log In</h1>
<form action="/login" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <label for="password">Password</label>
    <input type="text" name="password" id="password">
    <input type="submit" id="submit" name="Log In">
</form>