<article class="type-system-geometric">
<h1>Please Sign Up!</h1>
<hr>
<form action="/signup" method="post">
    <label for="name">Full Name</label>
    <input type="text" name="name">
    <br>
    <label for="email">Email</label>
    <input type="text" name="email">
    <label for="password">Password</label>
    <br>
    <input type="password" name="password">
    <input type="submit" value="Sign Up!">
</form>
<br><br>
</article>